<h1>{{title}}</h1>
<table>
  <thead>
    <tr>
      <th>WO ID</th>
      <th>Description</th>
      <th>Received date</th>
      <th>Assigned to</th>
      <th>Status</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataExpected">
      <td>{{ data.work_order_id }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.received_date | date }}</td>
      <td>
        <span>{{data?.assigned_to[0]?.person_name}}</span>
        <span>{{data?.assigned_to[1]?.person_name}}</span>
      </td>
      <td>{{ data.status }}</td>
      <td>{{ data.priority }}</td>
    </tr>
  </tbody>
</table>

